<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <title>TAMARAFI</title>
    <meta HTTP-EQUIV="X-UA-COMPATIBLE" CONTENT="IE=EmulateIE9">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/angular-chart.js/dist/angular-chart.css">
    <script src="/lodash/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/chart.js/Chart.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/angular-dragdrop/src/angular-dragdrop.min.js"></script>

   
    <script src="/main.js"></script>
    <script>
    $(document).ready(function() {
        var d = new Date();
        var n = d.getHours();
        if (n >= 5 && n <= 8)
            document.body.className = "morning";
        else if (n > 8 && n <= 10)
            document.body.className = "late-morning";
        else if (n > 10 && n <= 13)
            document.body.className = "afternoon";
        else if (n > 13 && n <= 16)
            document.body.className = "late-afternoon";
        else if (n > 16 && n <= 18)
            document.body.className = "evening";
        else if (n > 18 && n <= 20)
            document.body.className = "late-evening";
        else if (n > 20 && n <= 24)
            document.body.className = "night";
        else
            document.body.className = "late-night";
    });
    </script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>

</html>
