<nav class="navbar navbar-static-top">
    <div class="container">
        <div ng-show="user" class="buttons">
            <span class='coins'>{{ user.animal.money | roundDown }}</span>
            <a ui-sref="store"><img style='width:8%' src='https://38.media.tumblr.com/9056c3040c618c65888244befef39321/tumblr_mhpc6eUvag1rrftcdo1_500.gif'></a>
            <a ui-sref="crib"><img class='logout-btn' src='http://i.imgur.com/v7QeGZc.png'></a>
            <a ui-sref="game"><img class='logout-btn game' src='http://i.imgur.com/O8ZiZ0J.png'></a>
            <img ng-controller='LeaderboardCtrl' ng-click='showLeaderboard()' src='http://i.imgur.com/IGLeBkU.png'>
            <a ng-click="logout()"><img class='logout-btn' src='http://i.imgur.com/8CR2GUu.png'></a>
        </div>
    </div>
</nav>