<nav ng-show="isLoggedIn()" class="navbar navbar-static-top">
    <div class="container">
        <div ng-show="user" class="buttons">
            <span class='coins'>{{ user.animal.money | roundDown }}</span>
            <a ui-sref="store" data-toggle="tooltip" title="Buy swag!"><img class='coin' src='http://i.imgur.com/UGns1Kp.gif'></a>
            <a ui-sref="crib"><img class='logout-btn' src='http://i.imgur.com/zaz6wwO.jpg'></a>
            <a ui-sref="game"><img class='logout-btn game' src='http://i.imgur.com/O8ZiZ0J.png'></a>
            <img class='logout-btn' ng-controller='LeaderboardCtrl' ng-click='showLeaderboard()' style='cursor: pointer;' src='http://i.imgur.com/IGLeBkU.png'>
            <a ng-click="logout()"><img style='cursor: pointer;' class='logout-btn' src='http://i.imgur.com/8CR2GUu.png'></a>
        </div>
    </div>
</nav>