#home {
    h1 {
    	font-family: "Courier New";
    	font-weight: bold;
    	font-size: 100px;
        text-align: center;
        color: white;
        border: 10px dotted white;
        padding: 50px 0px 50px 0px;
        width: 80%;
        margin: auto;
        margin-top: 200px;
    }
    a {
	    text-decoration: none;
	    font-family: "Courier New";
	    font-size: 20px;
    }
    button {
	    margin-top: 50px;
	    margin-right: 20px;
	    background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	button:hover {
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
}