$primary-color: #4CAF50;
#home {
    h1 {
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        color: white;
        border: 10px dotted white;
        border-radius: 15px;
        padding: 3%;
        width: 65%;
        margin: auto;
        margin-top: 150px;
        box-shadow: 5px 5px 3px black;
        text-shadow: 5px 5px black;
        -webkit-animation-duration: 1s;
    }
    button {
        margin-top: 50px;
        margin-right: 20px;
        background-color: $primary-color;
        border: 4px solid white;
        border-radius: 15px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    .center {
        text-align: center;
        img {
            margin-top: 1%;
            bottom: 0;
            width: 60%;
        }
    }

    /* Making the speech bubbles */
    .bubble {
      position:relative;
      padding:15px 28px;
      width: 25%;
      display: inline-block;
      margin:1em 0 3em;
      border:4px solid white;
      color:white;
      background:#4CAF50;
      /* css3 */
      -webkit-border-radius:10px;
      -moz-border-radius:10px;
      border-radius:10px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      font-size:17px;
    }

    .bubble.left {
      left:30px;
      float:left;
    }

    .bubble.right {

      right:30px;
      float:right;
    }
    .bubble:before {
      content:"";
      position:absolute;
      bottom:-20px; /* value = - border-top-width - border-bottom-width */
      left:40px; /* controls horizontal position */
      border-width:20px 20px 0;
      border-style:solid;
      border-color:white transparent;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }

        /* creates the smaller  triangle */
    .bubble:after {
      content:"";
      position:absolute;
      bottom:-13px; /* value = - border-top-width - border-bottom-width */
      left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
      border-width:13px 13px 0;
      border-style:solid;
      border-color:#fff transparent;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }
            /* creates the larger triangle */
    .bubble.left:before {
      top:33%; /* controls vertical position */
      bottom:auto;
      left:auto;
      right:-30px; /* value = - border-left-width - border-right-width */
      border-width:15px 0 15px 30px;
      border-color:transparent white;
    }

    /* creates the smaller  triangle */
    .bubble.left:after {
      top:40%; /* value = (:before top) + (:before border-top) - (:after border-top) */
      bottom:auto;
      left:auto;
      right:-21px; /* value = - border-left-width - border-right-width */
      border-width:9px 0 9px 21px;
      border-color:transparent #4CAF50;
    }

        /* creates the larger triangle */
    .bubble.right:before {
      top:30%; /* controls vertical position */
      bottom:auto;
      left:-30px; /* value = - border-left-width - border-right-width */
      border-width:15px 30px 15px 0;
      border-color:transparent white;
    }

    /* creates the smaller  triangle */
    .bubble.right:after {
      top:40%; /* value = (:before top) + (:before border-top) - (:after border-top) */
      bottom:auto;
      left:-21px; /* value = - border-left-width - border-right-width */
      border-width:9px 21px 9px 0;
      border-color:transparent #4CAF50;
    }
     /* Vertically align the bubbles*/
    .flexbox-container {
      align-items: center;
      display:flex;
    }
    .footer{
        position: relative;
       a {
          color: white;
          position: absolute;
          bottom: 1em;
          right: 1.5em;
          margin-right: 10px;
          text-decoration: none;
      }
    }
    .heart {
        color: red;
    }
}
iframe {
    margin-left: -50px;
}
