.first-time-user {
	color: white;
	padding: 20px;
	background: rgba(0, 0, 0, 0.4);
	width: 80%;
	margin-left: 10%;
	border-radius: 50px;
	border: 5px dashed white;

	li {
		list-style: none;
		text-align: left;
	}
	h1 {
		text-align: center;
		text-shadow: 2px 2px black;
	}
	.col-md-6 {
		margin-top: 50px;
		text-align: center;
		text-shadow: 1px 1px black;
	}
	.row {
		width: 90%;
		height: 70%;
	}
	span {
		font-size: 20px;
	}
	.name-input {
		color: black;
		margin: 10px;
		height: 50px;
		border-radius: 20px;
		border: none;
		font-size: 20px;
		width: 50%;
		padding: 10px;
		border: solid 5px white;
		background-color: #D3D3D3;
	}
	.logout-btn {
		margin-top: 10px;
		text-align: center;
	}
	p {
		font-size: 15px;
	}
}

.animalContainer {
	img {
		border: 5px dotted white;
		padding: 5px;
		box-shadow: 3px 3px 1px black;
		margin-bottom: 20px;
		object-fit: cover;
	}
	p {
		font-size: 20px;
		text-shadow: 1px 1px black;
	}
}