.leaderboard {
	font-size: 30px;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.logout-btn {
    float: right;
    margin-right: 5%;
}

td, th, .panel-heading {
    text-align: center;
}

.panel-heading {
    font-weight: bold;
}