.leaderboard {
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border: 5px solid white;
    box-shadow: 5px 5px 1px black;
    color: white;
    text-shadow: 3px 3px black;
    background: url('http://rs271.pbsrc.com/albums/jj140/99alongway/Confetti.gif~c200');
    background-color: rgba(0, 0, 0, 0.5);
}

.panel-heading {
    text-align: center;
    border-bottom: 5px solid white;
}

.panel-heading {
    font-weight: bold;
}

.pikachu {
    width: 15%;
}
