<div class="quicklook-modal">
   <div  id='creaturecomputer' class="container">
   		<div class="row" id="header" ng-show="!showPostForm">
		  	<div id="profilepic" class="col-xs-3"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiXyc4Q1-uTcYW0nk-ggYQVt964ASl0aLB4GiTesge6d_bx2RG'></div>
		   	<div ng-click="close()" class="col-xs-9"> <h1> Welcome to FaceBogatchi, {{user.animal.name}} !</h1></div>

		</div>
		<!-- Joe's hardcoded facebook wall -->
		<div class="allPosts">
	<!-- 		<div ng-repeat='post in posts' id="post" ng-show="!showPostForm">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">{{post.author.animal.name}}</div> <div id="friendPost" class=" col-xs-9">{{post.text}}</div>
				</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://i.imgur.com/ESsA3Kw.png'>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div> -->
			<div id="post" ng-show="!showPostForm">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">Fluffy</div> <div id="friendPost" class=" col-xs-9">Yo Joe. Missed you at the gym today, bro. </div>
					</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://i.imgur.com/ESsA3Kw.png'>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div>
			<div id="post" ng-show="!showPostForm">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">Chuckles</div> <div id="friendPost" class=" col-xs-9">Have you been working out?  You look so swole lately. #Jealous</div>
					</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://imgur.com/79JwbHZ.png'>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div>
			<div id="post" ng-show="!showPostForm">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">Betsy</div> <div id="friendPost" class=" col-xs-9">I'm trying to get in shape for soccer, but I hate working out!  Can we schedule a weekly run or something?</div>
				</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://imgur.com/KhbrGSK.png'>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div>
		</div>

		<div id="addfriend" class="row" ng-show="!showPostForm">
		    <div class="col-xs-12">
			   <form  ng-controller=	"CreatureComputerCtrl">
				  <input type="text" ng-model="friend.name" name="name" />
				  <button ng-click="addFriend(friend)"><img src="http://www.katiemillettyoga.com/__images/website-components/add-friend-button.png"/></button>
				</form>
			</div>
		</div>
		<!-- Posting form -->
		<div ng-show="showPostForm && !showBetsy" class="row" id="postingForm">
			<h1>Post on Betsy's Wall</h1>
			<form  ng-controller="CreatureComputerCtrl">
			  <textarea type="text" ng-model="post" name="name" rows="6" cols="50"></textarea><br>
			  <button ng-click="createPost(post)" class="btn btn-primary">Create Post</button>
			</form>
		</div>
		<!-- Betsy's hardcoded facebook wall -->
		<div class="allPosts">
			<div id="post" ng-show="showBetsy">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">Little Foot</div> <div id="friendPost" class=" col-xs-9">Hey Betsy.  Let's catch up soon.</div>
					</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://i.imgur.com/zG5gVn5.png'>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div>
			<div id="post" ng-show="showBetsy">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">Norman</div> <div id="friendPost" class=" col-xs-9">Betsy!  Don't forget about the timed mile at practice next week! Hope you've been training up!</div>
					</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://i.imgur.com/NlwDVd7.png '>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div>
			<div id="post" ng-show="showBetsy">
				<div class="row" id="contents"> <div id="friendName" ng-click="goToFriendPage(post.author)" class=" col-xs-3">Joe</div> <div id="friendPost" class=" col-xs-9">{{post}}</div>
				</div>
				<div class="row friendpic">
					<div class="col-xs-10">
						<img ng-src='http://i.imgur.com/bRqDh0u.png '>
					</div>
					<div class = "col-xs-2" >
						<span>comments </span><img src="https://ac3d197e9505f18c50e0-32b9f49f48b2c22be12b40ee79e2acc4.ssl.cf1.rackcdn.com/icon/logos_and_badges_like_button/j2lm0CeHbQRxugFMmozK/like-button-2015-06.png">
					</div>
				</div>
			</div>
		</div>
   </div>
</div>


