<div id="demo-modal">
    <form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && sendsignup(signup)" novalidate> 
       <div class="form-group" ng-class= "{'has-error' : signupForm.firstName.$invalid && !signupForm.firstName.$pristine} ">
            <label>Your name</label>
            <input type="text" name = "firstName" ng-model="signup.firstName" class="form-control" placeholder="What should we call you?" required>
            <p ng-show="signupForm.firstName.$invalid &&!signupForm.firstName.$pristine" class="help-block">Your name is required (even if it is bogus).</p>
        </div>
        <div class="form-group" ng-class= "{'has-error' : signupForm.animalName.$invalid &&!signupForm.animalName.$pristine} ">
            <label>Your animal's name</label>
            <input type="text" name="animalName" ng-model="signup.animalName" class="form-control" placeholder="How about 'Dexter' or 'Bianca'?" required>
             <p ng-show="signupForm.animalName.$invalid &&!signupForm.animalName.$pristine" class="help-block">A name for your animal is required (even if it is silly as could be).</p>
        </div>
        <div class="form-group" ng-class= "{'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine} ">
            <label>Password</label>
            <input type="password" name="password" ng-model="signup.password" class="form-control" placeholder="'Caput Draconis,' maybe?" required>
             <p ng-show="signupForm.password.$invalid &&!signupForm.password.$pristine" class="help-block">A password is required (make it #unbreakable).</p>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="signupForm.$invalid">Submit</button> <a ng-click="login()">already have a demo account? </a>
    </form>
</div>