#creaturecomputer {
   	background: url('http://i.imgur.com/E7tgBAG.png') no-repeat center center fixed;
    position: fixed;
    top: 0;
    left: 0;
    min-height:100%;
    min-width:100%;
    z-index: 1;

    #fake-nav {
    margin-top:  11% 
    }
    .contents {
    	margin: auto;
    	width:40.75%;
    	img {
    		min-height: 100px;
    	}
    }

    #profiletext {
    	span {
    		float:left;
    		

    	}
    }
}
