.animalContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	img {
		width: 80%;
		height: 80%;
		object-fit: scale-down;

	}
	#animalInfo {
		padding: 0;
		margin-top: 30px;
		p {
			font-size: 40px;
		}
	}
}