#creatureContainer {
    position: absolute;
    left: 100px;
    bottom: 1px;
    z-index: 1;
}

@keyframes panda {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 3000px;
    }
}

@keyframes rhino {
    0% {
        background-position: 2956px;
    }

    100% {
        background-position: 0px;
    }
}

@keyframes bird {
    0% {
        background-position: 2570px;
    }

    100% {
        background-position: 0px;
    }
}
