#creatureContainer {
    width: 250px;
    height: 354px;
    background-image: url('http://i.imgur.com/IZDNBHv.png');
    position: absolute;
    bottom: 0;
    left: 200px;
}

crib-creature {
    display: block;
}

@keyframes sprite {
    0% {
        background-position: 0px;

    }

    100% {
        background-position: 3000px;


    }

}
