navbar {

  display: block;
  background: transparent;
  text-align: center;
  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  .logout-btn {
    margin-right: 10px;
    margin-left: 10px;
  }

  .coins {
    color: yellow;
    font-weight: bold;
    font-size: 35px;
    z-index: 1;
    position: relative;
    text-shadow: 3px 3px black;
    top: 20;
  }
}
