navbar {

  display: block;
  background: transparent;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }
  .logout-btn {
    margin-right: 10px;
    margin-left: 10px;
  }

  .coins {
    color: #4CAF50;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 10px;
    z-index: 1;
    position: absolute;
    text-shadow: 2px 2px white;
  }
}
