.modal-dialog {
    .quicklook-modal {
        background: url('http://i.imgur.com/tcQ6vy2.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    	width: 150%;
    	#creaturecomputer {
    	    font-family: Tahoma;
    	    width: 93%;
    	    height: 43em;
    	    margin: auto;
    	    padding-left: 1%;
    	    padding-top: 3%;
    	    #profilepic {
    	        min-width: 12%;
    	    }
    	    h1 {
    	        font-size: 1.7em;
    	    }
    	    #header {
    	        background: #3b5998;
    	        color: white;
    	       
    	    }
    	    #friendName {
    	        font-size: 1.5em;
    	        font-weight: bold;
                text-decoration: underline;
                color:#0B0080;
    	    }
    	    #friendPost {
    	        font-size: 1.25em;
    	    }
            .allPosts {
                margin-bottom: 4%;
            }
    	    #post {
    	        border: .1em solid black;
    	       
    	        
    	        #contents {
    	            max-width: 100%;
    	            margin-left: 1.5%;
    	        }
    	    }
    	    .friendpic {
    	        min-width: 7%;
                img {
                    max-width: 15%;
                }
    	    }
    	    .col-xs-2 {
    	        span {
    	            color: #3b5998;
    	            font-size: 1.5em;
    	        }
    	        img {
    	            max-width: 50%;
    	        }
    	    }
            #addfriend {
                text-align:left;
            }
            form {
                button {
                    max-width:15%;
                }
                img {
                    max-width:100%

                    }
            }
            #postingForm {
                text-align:center;
                form {
                    float:none;
                    margin:auto;
                }
            }

    	}
    }
}
