<a ng-show='user' ng-click="logout()">
    <button class='logout-btn'>LOGOUT</button>
</a>
<a ng-show='user' ui-sref='crib'>
    <button class='logout-btn'>CRIB</button>
</a>

<div class='leaderboard'>
	<div class="panel panel-success">
	    <div class="panel-heading">LEADERBOARD</div>
	    <table class="table">
	        <thead>
	        	<th>RANK</th>
	        	<th>NAME</th>
	        	<th>TOTAL STEPS</th>
	        </thead>
	        <tbody ng-repeat='user in rankedUsers'>
	        	<tr>
	        		<td scope='row'>{{ rankedUsers.indexOf(user) + 1 }}</td>
	        		<td>{{ user.animal.name }}</td>
	        		<td>{{ user.animal.totalSteps }}</td>
	        	</tr>
	        </tbody>
	    </table>
	</div>
</div>