<div class='first-time-user'>
    <h1>Welcome to the Jungle, {{user.name}}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div ng-repeat="animal in animals">
                    <animal ng-show="animal.idx === onDisplay">
                    </animal>
                </div>
                <button class='logout-btn' ng-click="nextAnimal()">NEXT</button>
            </div>
            <div class="col-md-6">
                <form novalidate class="simple-form">
                    <span>Name:</span>
                    <input type="text" ng-model="user.animal.name">
                    <input class='logout-btn' type="submit" ng-click="update(user)" value="SAVE" />
                </form>
            </div>
        </div>
    </div>
</div>
