* {
    box-sizing: border-box;
}

body {
    background-image: url('https://hdwallpapers.cat/wallpaper_mirror/green_and_blue_sky_nature_cartoon_hd-wallpaper-1515828.jpg');
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 20px;
    margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
