#demo-modal {
	background: hsl(218, 80%, 94%)  ;

	border: solid 0.5em hsl(218, 80%, 30%);
	height: 55vh;
	border-radius: 2em;


	form {
		padding: 10%;
		a {
			float: right;
			cursor: pointer;
		}
	}
}