.character {
  height: 100px;
  width: 100px;
  background-color: red;
  /*position: relative;*/
}
.left-char {
  float: left;
  background-color: red;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  left: 0;
}

.right-char {
  float: right;
  background-color: red;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  right: 0;
}