.gameContainer {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.winner {
  text-align: center;
  height: 10vh;
  h1 {
    font-size: 80px;
  }
}

.middleLine {
  border-left: thick solid #ff0000;
  width: 10px;
  height: 100px;
  position: absolute;
  bottom: 0;
  margin-left: 50%;
  z-index: -1;
}
/*.left-char {
  text-align: center;
  background-image: url('http://i.imgur.com/x1V12Km.png');
  height: 450px;
  width: 250px;
}

.right-char {
  text-align: center;
  background-image: url('http://i.imgur.com/JJAe0Cn.png');
  width: 175px;
  height: 200px;
  margin-top: 25%;
}

.rope {
  background-image: url('http://www.clker.com/cliparts/1/f/b/a/1343058936264656341rope-hi.png');
  height: 40px;
  margin-top: 25%;
/*  width: 200px;
}
*/