.gameContainer {
  /*text-align: center;*/
  position: absolute;
  bottom: 0;
  /*margin: 0 auto;*/
  width: 50%;
  display: block;
  left: 25%;
}
.left-char {
  text-align: center;
  background-color: red;
}

.right-char {
  text-align: center;
  background-color: green;
}