
.trophy {
	width:10%;
}

.crib {
    background: url('http://i.imgur.com/cBu0kJM.png') no-repeat center center fixed;
    position: fixed;
    background-size:cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    #trophy {
    	margin-top: 10%;
        width: 10%;
    }
    h1 {
    	color: white;
    	margin: 0 auto;
    	width: 40%;
    }
    button {
        float: right;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.dock {
    bottom:10px;
    position:relative;
    width:100%;

    ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: rgba(0, 0, 0, 0.3);
    padding-right: 76px;

    }
}
.dock ul li {
width: auto;
display: inline-block;
vertical-align: bottom;
margin-left: 50px ;
margin-top: -43px;

    .cribSwag {
        position: absolute;
    }
}
.dock ul li a {
display: block;
height: 100px;
width: 100px;
position: relative;
-webkit-transition-property: width, height,margin-top;
-webkit-transition-duration: 0.5s;
-o-transition-property: width, height,margin-top;
-o-transition-duration: 0.5s;
-moz-transition-property: width, height,margin-top;
-moz-transition-duration: 0.5s;
}
.dock ul li a:hover {
width: 150px;
height: 150px;
margin-top: -50px;
}
.dock ul li a img {
width: 100%;
position: absolute;
bottom: 0;
padding: 0px 0px 0px 30px;
}

