
.trophy {
	width:10%;
}

.crib {
    background: url('http://i.imgur.com/cBu0kJM.png') no-repeat center center fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    #trophy {
    	margin-top: 10%;
        width: 10%;
    }
    h1 {
    	color: white;
    	margin: 0 auto;
    	width: 40%;
    }
    button {
    	float: right;
    	margin-right: 10px;
    	margin-left: 10px;
    }
}

